.star-rating {
  font-family: 'FontAwesome';
  margin: 50px auto;
  margin-top: 1%;
}
.btn-logout{
  margin-top: -3%;
}
.star-rating > fieldset {
  border: none;
  display: inline-block;
}
.star-rating > fieldset:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}
.star-rating > fieldset:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .05em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  color: #0355fa;
}
.star-rating > fieldset:not(:checked) > label:before {
  content: '\f006  ';
}
.star-rating > fieldset:not(:checked) > label:hover,
.star-rating > fieldset:not(:checked) > label:hover ~ label {
  color: #0355fa;
  text-shadow: 0 0 3px #0355fa;
}
.star-rating > fieldset:not(:checked) > label:hover:before,
.star-rating > fieldset:not(:checked) > label:hover ~ label:before {
  content: '\f005  ';
}
.star-rating > fieldset > input:checked ~ label:before {
  content: '\f005  ';
}
.star-rating > fieldset > label:active {
  position: relative;
  top: 2px;
}
.con-bg{
     background-image: url("/static/img/back2.jpg");
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color:#464646;
}
.con-container {
  display: flex;
  justify-content: center;
  width: 70% !important;
  height: 180px !important;
  padding-top: 7%;
}
@media (max-width: 900px) {
    .con-container {
      display: flex;
      justify-content: center;
      width: 70% !important;
      height: 230px !important;
      padding-top: 12%;
    }
}
@media screen and (max-width: 480px){
  .star-rating > fieldset:not(:checked) > label {
  font-size: 120%;
}
  .jumbotron {
    margin-top: 30%;
  }
}